@keyframes anim {
  from {
    right: -70px;
  }
  to {
    right: 0;
  }
}
@keyframes header-height {
  from {
    height: 113px;
  }
  to {
    height: 300px;
  }
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-semibold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway-extrabold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto-regular.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat-extralight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat-light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}
body {
  width: 100%;
}
.container {
  width: 100%;
  position: relative;
}
.main-header {
  background-image: url(../img/bg_photo_11949.jpg);
  background-repeat: no-repeat;
  min-height: 1024px;
  background-color: #464440;
  padding: 80px 19.2%;
  box-sizing: border-box;
  padding: 50px 19.2%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.main-header-nav {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-nav-logo {
  display: flex;
  width: 181px;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  margin: 0 0 0 0;
  text-decoration: none;
}
.main-header-nav-logo-svg {
  fill: currentColor;
  width: 66px;
  height: 59px;
}
.main-header-nav-logo-txt {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
}
.main-header-nav-logo:hover {
  color: #c7b299;
}
.main-header-nav-logo:active {
  color: #998976;
}
.main-header-nav-bar {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: 0 0 0 30px;
}
.main-header-nav-bar-lable {
  display: none;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 5px;
  left: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-header-nav-bar-lable-line1 {
  display: block;
  background: #fff;
  height: 4px;
  width: 26px;
}
.main-header-nav-bar-lable-line2 {
  display: block;
  background: #fff;
  height: 4px;
  width: 26px;
}
.main-header-nav-bar-lable-line3 {
  display: block;
  background: #fff;
  height: 4px;
  width: 26px;
}
.main-header-nav-bar-lable:hover .main-header-nav-bar-lable-line1,
.main-header-nav-bar-lable:hover .main-header-nav-bar-lable-line2,
.main-header-nav-bar-lable:hover .main-header-nav-bar-lable-line3 {
  background-color: #c7b299;
}
.main-header-nav-bar-check {
  display: none;
}
.main-header-nav-bar-check:checked ~ .main-header-nav-bar-menu {
  height: auto;
  visibility: visible;
  animation: header-height 1s ease;
}
.main-header-nav-bar-check:checked ~ .main-header-nav-bar-lable span:nth-child(2) {
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transform: rotate(45deg) scale(1.2);
}
.main-header-nav-bar-check:checked ~ .main-header-nav-bar-lable span:nth-child(1) {
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transform: translatey(10px) rotate(-45deg) scale(1.2);
}
.main-header-nav-bar-check:checked ~ .main-header-nav-bar-lable span:nth-child(3) {
  opacity: 0;
}
.main-header-nav-bar-menu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
}
.main-header-nav-bar-menu-item {
  display: block;
  margin: 0 30px 0 0;
}
.main-header-nav-bar-menu-item a {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.main-header-nav-bar-menu-item a:hover {
  color: #c7b299;
}
.main-header-nav-bar-menu-item a:active {
  color: #998976;
}
.main-header-nav-bar-bag {
  display: block;
  height: 24px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  /*border: 1px dashed red*/
  margin: 0 20px 0 30px;
  fill: #ffffff;
}
.main-header-nav-bar-bag:hover {
  fill: #c7b299;
}
.main-header-nav-bar-bag:active {
  fill: #998976;
}
.main-header-nav-bar-form {
  position: relative;
}
.main-header-nav-bar-form input {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 3;
}
.main-header-nav-bar-form input:focus {
  width: 200px;
  transition: width 1s ease-out;
  background-color: #ffffff;
  /*background-position:right;
                        background-image: url('https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png');*/
  padding: 2px 10px 2px 15px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid gray;
}
.main-header-nav-bar-magnifier {
  fill: #ffffff;
}
.main-header-nav-bar-magnifier:hover {
  fill: #c7b299;
}
.main-header-nav-bar-magnifier:active {
  fill: #998976;
}
.main-header-portfolio {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.main-header-portfolio-icon1 {
  display: block;
  border: none;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: rotate(-45deg);
  width: 52px;
  height: 52px;
}
.main-header-portfolio-icon1:hover {
  border-top: 1px solid #c7b299;
  border-left: 1px solid #c7b299;
}
.main-header-portfolio-icon1:active {
  border-top: 1px solid #998976;
  border-left: 1px solid #998976;
}
.main-header-portfolio-icon2 {
  display: block;
  border: none;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: rotate(135deg);
  width: 52px;
  height: 52px;
}
.main-header-portfolio-icon2:hover {
  border-top: 1px solid #c7b299;
  border-left: 1px solid #c7b299;
}
.main-header-portfolio-icon2:active {
  border-top: 1px solid #998976;
  border-left: 1px solid #998976;
}
.main-header-portfolio-text {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 50%;
}
.main-header-portfolio-text-subtitle {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  margin: 0 0 10px 0;
}
.main-header-portfolio-text-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 52px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  margin: 0 0 10px 0;
}
.main-header-portfolio-text-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 24px;
  margin: 0 0 50px 0;
}
.main-header-portfolio-text-btn {
  display: block;
  width: 170px;
  min-height: 53px;
  background-color: #c7b299;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  box-shadow: 3px 2px 3px #64594d;
  margin: 0 3px 3px 0;
}
.main-header-portfolio-text-btn:hover {
  background-color: #857766;
}
.main-header-portfolio-text-btn:active {
  box-shadow: none;
  background-color: #64594d;
  margin: 3px 0 0 3px;
}
.main-header-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.main-header-pagination-circle {
  display: flex;
  width: 11px;
  height: 11px;
  background-color: lightgray;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 5px;
}
.main-header-pagination-circle:hover {
  background-color: transparent;
  border: 2px solid lightgrey;
  transform: scale(1.2);
}
.main {
  width: 100%;
  margin: 0 auto;
}
.main-screenshots {
  width: 100%;
}
.main-screenshots:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.main-screenshots-menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 80px 19.2%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.main-screenshots-menu-figure {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 236px;
  min-height: 200px;
  color: #8c8c8c;
  text-decoration: none;
  margin-bottom: 30px;
}
.main-screenshots-menu-figure-icon1 {
  width: 51px;
  height: 51px;
}
.main-screenshots-menu-figure-icon2 {
  width: 46px;
  height: 42px;
}
.main-screenshots-menu-figure-icon3 {
  width: 46px;
  height: 46px;
}
.main-screenshots-menu-figure-icon4 {
  width: 55px;
  height: 38px;
}
.main-screenshots-menu-figure:after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #8c8c8c;
  margin: 0 auto;
  align-self: flex-end;
}
.main-screenshots-menu-figure:hover:after {
  background-color: #c7b299;
}
.main-screenshots-menu-figure-icon1,
.main-screenshots-menu-figure-icon2,
.main-screenshots-menu-figure-icon3,
.main-screenshots-menu-figure-icon4 {
  display: block;
  fill: currentColor;
}
.main-screenshots-menu-figure-subtitle {
  display: block;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  /*margin: 15px 0;*/
}
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-icon1,
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-icon2,
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-icon3,
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-icon4 {
  fill: #c7b299;
}
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-subtitle {
  color: #c7b299;
}
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-block1-txt {
  color: transparent;
}
.main-screenshots-menu-figure:hover .main-screenshots-menu-figure-block1-txt1 {
  color: #8c8c8c;
}
.main-screenshots-menu-figure-block1 {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}
.main-screenshots-menu-figure-block1-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 24px;
}
.main-screenshots-menu-figure-block1-txt1 {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 24px;
  color: transparent;
  position: absolute;
  top: -1px;
}
.main-screenshots-realization {
  margin-top: 70px;
  min-height: 700px;
  width: inherit;
  padding: 80px 19.2%;
  box-sizing: border-box;
  background-color: #fbfaf8;
  margin: 0 auto;
  position: relative;
}
.main-screenshots-realization:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.main-screenshots-realization-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: center;
  display: block;
  width: inherit;
  color: #555555;
  margin-bottom: 20px;
}
.main-screenshots-realization-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  line-height: 28px;
  width: 70%;
  margin: 0 auto;
}
.main-screenshots-realization-img {
  width: 770px;
  height: 482px;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-screenshots-realization-img:first-of-type {
  background-image: url(../img/browser_left_10769.jpg);
  top: 300px;
  left: 18.2%;
  position: absolute;
  z-index: 1;
}
.main-screenshots-realization-img:nth-of-type(2) {
  background-image: url(../img/browser_center_10768.jpg);
  position: absolute;
  top: 220px;
  left: 30%;
  z-index: 2;
}
.main-screenshots-realization-img:last-child {
  background-image: url(../img/browser_right_10770.png);
  top: 300px;
  right: 18.2%;
  position: absolute;
  z-index: 1;
}
.main-aside {
  padding: 50px 19.2%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  background-color: #211b19;
  position: relative;
  z-index: 3;
}
.main-aside-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: center;
  display: block;
  width: inherit;
  font-weight: 400;
  color: #fbfaf8;
  text-align: left;
  margin: 0 30px;
  text-decoration: none;
  width: 100%;
}
.main-aside-title:hover {
  color: #c7b299;
}
.main-aside-title:active {
  color: #998976;
}
.main-aside-title-waxom {
  color: #c7b299;
}
.main-aside-title-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  text-align: center;
  word-wrap: break-word;
  color: #58504c;
  display: block;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}
.main-aside-btn {
  display: block;
  min-width: 170px;
  min-height: 53px;
  background-color: #c7b299;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 20px 20px;
  box-sizing: border-box;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: white;
  box-shadow: 3px 2px 3px #64594d;
  margin-right: 30px;
  margin: 0 30px 3px 0;
}
.main-aside-btn:hover {
  background-color: #857766;
}
.main-aside-btn:active {
  box-shadow: none;
  background-color: #64594d;
  margin: 3px 27px 0 3px;
}
.main-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*margin-top: 70px;*/
  min-height: 410px;
  width: 100%;
  padding: 80px 19.2%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.main-projects:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.main-projects-title {
  width: 100%;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: center;
  display: block;
  width: inherit;
  color: #555555;
  margin-bottom: 20px;
}
.main-projects-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  line-height: 28px;
  width: 100%;
  padding: 0 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main-projects-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}
.main-projects-bar-btn {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  height: 32px;
  padding: 10px 30px 25px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background-color: white;
  margin-right: 10px;
  outline: none;
}
.main-projects-bar-btn:last-child {
  margin-right: 0;
}
.main-projects-bar-btn:hover {
  background-color: #998675;
  color: #ffffff;
}
.main-projects-bar-btn:active {
  background-color: #75695a;
  color: white;
  outline: none;
}
.main-projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-projects-cards-link {
  display: block;
  position: relative;
  width: 370px;
  height: 337px;
  text-decoration: none;
  margin-bottom: 30px;
}
.main-projects-cards-link:last-child {
  margin-bottom: 40px;
}
.main-projects-cards-link-img {
  display: block;
  width: inherit;
  height: 237px;
}
.main-projects-cards-link:hover .main-projects-cards-link-img {
  filter: brightness(50%);
}
.main-projects-cards-link:nth-child(2):hover .main-projects-cards-link-img {
  filter: brightness(100%);
}
.main-projects-cards-link:hover .main-projects-cards-link-comment {
  background-color: #362f2d;
}
.main-projects-cards-link:hover .main-projects-cards-link-comment:before {
  border-bottom: 15px solid #362f2d;
}
.main-projects-cards-link:hover .main-projects-cards-link-comment {
  background-color: #362f2d;
}
.main-projects-cards-link:hover .main-projects-cards-link-comment-title {
  color: #ffffff;
}
.main-projects-cards-link:hover .main-projects-cards-link-comment-txt {
  color: #8d7d6e;
}
.main-projects-cards-link:hover .main-projects-cards-link-iconing span {
  color: white;
}
.main-projects-cards-link:hover .main-projects-cards-link-iconing span:hover {
  color: #c7b299;
}
.main-projects-cards-link:hover .main-projects-cards-link-iconing span:active {
  color: #857766;
}
.main-projects-cards-link:hover .main-projects-cards-link-iconing:active {
  outline: none;
}
.main-projects-cards-link-comment {
  height: 100px;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.main-projects-cards-link-comment:before {
  content: '';
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 20px;
}
.main-projects-cards-link-comment-title {
  display: block;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  font-family: 'raleway', 'open sans', sans-serif;
  color: #c7b299;
}
.main-projects-cards-link-comment-txt {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #d1d1d1;
  width: inherit;
}
.main-projects-cards-link-iconing {
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  border: none;
  outline: none;
  color: transparent;
}
.main-projects-cards-link-iconing span {
  color: transparent;
}
.main-projects-cards-link-iconing:nth-of-type(1) {
  background-image: none;
  background-color: transparent;
  top: 105px;
  left: 144px;
}
.main-projects-cards-link-iconing:nth-of-type(2) {
  background-image: none;
  background-color: transparent;
  top: 105px;
  left: 200px;
}
.main-projects-btn {
  display: block;
  width: 170px;
  min-height: 53px;
  background-color: #998675;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: white;
  box-shadow: 3px 2px 3px #64594d;
  outline: none;
  margin: 0 3px 3px 0;
}
.main-projects-btn:hover {
  background-color: #6f6355;
}
.main-projects-btn:active {
  box-shadow: none;
  background-color: #50473d;
  margin: 3px 0 0 3px;
}
.main-presentation {
  width: 100%;
  margin: 0 auto;
  min-height: 705px;
  overflow: hidden;
  position: relative;
}
.main-presentation-block {
  position: absolute;
  top: 200px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.main-presentation-block-btn {
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.main-presentation-block-btn-play {
  margin: auto;
  fill: #fff;
}
.main-presentation-block-btn:hover .main-presentation-block-btn-play {
  fill: #c7b299;
}
.main-presentation-block-btn:active .main-presentation-block-btn-play {
  fill: #857766;
}
.main-presentation-block-btn--hide {
  display: none;
}
.main-presentation-block-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
  margin-bottom: 20px;
}
.main-presentation-block-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
  line-height: 28px;
  width: 96%;
  margin-bottom: 30px;
}
.main-presentation-block-time {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #c7b299;
}
.main-presentation-video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-devices {
  min-height: 695px;
  width: inherit;
  padding: 80px 19.2%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  background-color: #fbfaf8;
  background-image: url(../img/iphone_in_hand_10962.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 19.2% bottom;
}
.main-devices:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.main-devices-descrition {
  display: flex;
  flex-flow: column wrap;
  float: right;
  width: 60%;
}
.main-devices-descrition-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #555555;
  margin-bottom: 20px;
  text-align: left;
}
.main-devices-descrition-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  text-align: left;
  line-height: 28px;
  width: 100%;
  margin-bottom: 30px;
}
.main-devices-descrition-list {
  list-style-type: none;
  display: block;
  padding-left: 100px;
}
.main-devices-descrition-list-item {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  line-height: 28px;
  width: 600px;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.main-devices-descrition-list-item:before {
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  background-image: url(../img/arrow.png);
  background-size: cover;
  position: absolute;
  left: -50px;
}
.main-statistics {
  min-height: 300px;
  background-color: #251d1a;
  width: 100%;
  padding: 60px 400px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.main-statistics-figure {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-width: 195px;
  min-height: 180px;
  color: #8c8c8c;
  text-decoration: none;
}
.main-statistics-figure:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
  align-self: flex-end;
}
.main-statistics-figure:hover:after {
  background-color: #c7b299;
}
.main-statistics-figure-icon1 {
  display: block;
  fill: #c7b299;
}
.main-statistics-figure-number {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 48px;
  font-weight: 200;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
}
.main-statistics-figure-txt {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #c7b299;
  margin-bottom: 10px;
}
.main-statistics-figure:hover .main-statistics-figure-number {
  color: #c7b299;
}
.main-posts {
  min-height: 760px;
  width: 100%;
  padding: 80px 19.2%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main-posts-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: center;
  display: block;
  width: inherit;
  color: #555555;
  height: auto;
  width: 100%;
}
.main-posts-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #8c8c8c;
  width: 100%;
  line-height: 28px;
  padding: 0 200px;
  margin: 0 auto 20px;
}
.main-posts-article {
  width: 370px;
  height: 395px;
  outline: 1px solid #f8f8f8;
  position: relative;
  margin-right: 10px;
}
.main-posts-article:last-of-type {
  margin-right: 0;
}
.main-posts-article-img {
  display: block;
  width: 370px;
  height: 220px;
  background-size: cover;
}
.main-posts-article-title {
  display: block;
  width: 100%;
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  text-align: left;
  font-family: 'raleway', 'open sans', sans-serif;
  color: #555555;
}
.main-posts-article-txt {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 22px;
  box-sizing: border-box;
  color: #8c8c8c;
  width: 100%;
  padding: 0 30px;
  text-align: left;
}
.main-posts-article-link {
  display: block;
  width: 100%;
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  text-align: left;
  color: #c7b299;
  position: relative;
}
.main-posts-article-link:after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  border: 5px solid transparent;
  border-left: 7px solid #c7b299;
  position: absolute;
  top: 25px;
  left: 115px;
}
.main-posts-article-date {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}
.main-posts-article-date-up {
  display: block;
  height: 35px;
  background-color: #363636;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  padding-top: 5px;
  box-sizing: border-box;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.main-posts-article-date-month {
  display: block;
  height: 25px;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: #252525;
  font-family: 'roboto', 'verdana', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-posts-article:hover {
  background-color: #362f2d;
  outline: none;
}
.main-posts-article:hover .main-posts-article-img {
  filter: brightness(50%);
}
.main-posts-article:nth-of-type(2):hover .main-posts-article-img {
  filter: brightness(100%);
}
.main-posts-article:hover .main-posts-article-title {
  color: #c7b299;
}
.main-posts-article:hover .main-posts-article-txt {
  color: #ffffff;
}
.main-posts-article:hover .main-posts-article-date-up {
  background-color: #c7b299;
}
.main-posts-article:hover .main-posts-article-date-month {
  background-color: #a48d72;
}
.main-posts-article:nth-of-type(1) .main-posts-article-img {
  background-image: url(../img/posts/article_photo_1.jpg);
}
.main-posts-article:nth-of-type(2) .main-posts-article-img {
  background-image: url(../img/posts/article_photo_2.jpg);
  filter: brightness(200%);
}
.main-posts-article:nth-of-type(3) .main-posts-article-img {
  background-image: url(../img/posts/article_photo_3.jpg);
}
.main-posts-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-posts-pagination-svg {
  padding: 0 3px;
  fill: #d1d1d1;
  outline: none;
  border: none;
  background-color: transparent;
}
.main-posts-pagination-svg:hover {
  fill: #c7b299;
}
.main-posts-pagination-svg:active {
  fill: #857766;
}
.main-partners {
  width: 100%;
  min-height: 489px;
  padding: 80px 19.2%;
  box-sizing: border-box;
  background-image: url(../img/partners/bg_photo_11122.jpg);
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.main-partners-img {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  background-position: center;
}
.main-partners-img:first-child {
  height: 127px;
  background-image: url(../img/partners/logo_01_11138.png);
}
.main-partners-img:first-child:hover {
  background-image: url(../img/partners/logo2_01_11138.png);
}
.main-partners-img:first-child:active {
  background-image: url(../img/partners/logo3_01_11138.png);
}
.main-partners-img:nth-child(2) {
  height: 200px;
  background-image: url(../img/partners/logo_02_11139.png);
}
.main-partners-img:nth-child(2):hover {
  background-image: url(../img/partners/logo2_02_11139.png);
}
.main-partners-img:nth-child(2):active {
  background-image: url(../img/partners/logo3_02_11139.png);
}
.main-partners-img:nth-child(3) {
  height: 130px;
  background-image: url(../img/partners/logo_03_11140.png);
}
.main-partners-img:nth-child(3):hover {
  background-image: url(../img/partners/logo2_03_11140.png);
}
.main-partners-img:nth-child(3):active {
  background-image: url(../img/partners/logo3_03_11140.png);
}
.main-partners-img:nth-child(4) {
  height: 164px;
  background-image: url(../img/partners/logo_04_11141.png);
}
.main-partners-img:nth-child(4):hover {
  background-image: url(../img/partners/logo2_04_11141.png);
}
.main-partners-img:nth-child(4):active {
  background-image: url(../img/partners/logo3_04_11141.png);
}
.main-footer {
  width: 100%;
}
.footer-block1 {
  width: 100%;
  padding: 80px 19.2%;
  box-sizing: border-box;
  background-color: #191919;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #555555;
}
.footer-block1-article {
  width: 22%;
  color: inherit;
}
.footer-block1-article:hover .footer-block1-article-title {
  color: #c7b299;
}
.footer-block1-article:hover .footer-block1-article-title-svg {
  fill: #c7b299;
}
.footer-block1-article-title {
  display: flex;
  width: 181px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
  text-decoration: none;
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
}
.footer-block1-article-title-svg {
  fill: #ffffff;
}
.footer-block1-article-txt {
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 24px;
  text-align: left;
  margin: 0 0 20px 0;
}
.footer-block1-article-link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  text-align: left;
  color: white;
  position: relative;
}
.footer-block1-article-link:hover {
  color: #c7b299;
}
.footer-block1-article-link:hover:after {
  border-left: 7px solid #c7b299;
}
.footer-block1-article-link:active {
  color: #857766;
}
.footer-block1-article-link:active:after {
  border-left: 7px solid #857766;
}
.footer-block1-article-link:after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  border: 5px solid transparent;
  border-left: 7px solid white;
  position: absolute;
  top: 5px;
  left: 85px;
}
.footer-block1-posts {
  width: 22%;
  color: inherit;
}
.footer-block1-posts-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  text-align: left;
  display: block;
  color: #ffffff;
  width: 100%;
  padding: 20px 0;
}
.footer-block1-posts-link {
  display: block;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #252525;
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
}
.footer-block1-posts-link:last-child {
  border: none;
}
.footer-block1-posts-link:hover .footer-block1-posts-link-txt {
  color: #c7b299;
}
.footer-block1-posts-link:hover .footer-block1-posts-link-data {
  color: white;
}
.footer-block1-posts-link:active .footer-block1-posts-link-txt {
  color: #857766;
}
.footer-block1-posts-link-data {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.footer-block1-posts-link-txt {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.footer-block1-twtter {
  width: 22%;
  color: inherit;
}
.footer-block1-twtter-title {
  font-family: 'raleway', 'verdana', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  text-align: left;
  display: block;
  color: #ffffff;
  width: 100%;
  padding: 20px 0;
}
.footer-block1-twtter-link {
  display: block;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #252525;
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
}
.footer-block1-twtter-link:last-child {
  border: none;
}
.footer-block1-twtter-link:hover .footer-block1-twtter-link-txt {
  color: #c7b299;
}
.footer-block1-twtter-link:hover .footer-block1-twtter-link-data {
  color: white;
}
.footer-block1-twtter-link:active .footer-block1-twtter-link-txt {
  color: #857766;
}
.footer-block1-twtter-link-data {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.footer-block1-twtter-link-txt {
  display: block;
  font-family: 'montserrat', 'verdana', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}
.footer-block1-twtter-link-txt-blue {
  color: #00bff3;
}
.footer-block1-twtter-link-txt-grey {
  color: #959595;
}
.footer-block1-widget {
  display: flex;
  width: 270px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.footer-block1-widget-img {
  margin-top: 8px;
}
.footer-block1-widget-img:hover {
  filter: brightness(50%);
}
.footer-copyright {
  width: 100%;
  padding: 50px 375px;
  box-sizing: border-box;
  background-color: #111111;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #555555;
}
.footer-copyright-left {
  display: flex;
  width: 50%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: inherit;
}
.footer-copyright-right {
  display: flex;
  width: 50%;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: inherit;
}
.footer-copyright-left-copyr,
.footer-copyright-right-copyr {
  margin-right: 5px;
}
.footer-copyright-left-link,
.footer-copyright-right-link {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #959595;
  font-size: inherit;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #252525;
}
.footer-copyright-left-link:hover,
.footer-copyright-right-link:hover {
  color: #c7b299;
}
.footer-copyright-left-link:active,
.footer-copyright-right-link:active {
  color: #857766;
}
.footer-copyright-left-link:last-child,
.footer-copyright-right-link:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 1500px) {
  .main-aside-btn {
    height: 53px;
  }
  .main-header,
  .main-aside,
  .main-projects,
  .main-screenshots-menu,
  .main-screenshots-realization,
  .main-devices,
  .main-posts,
  .main-partners,
  .main-screenshots-realization,
  .main-statistics,
  .footer-block1,
  .footer-copyright {
    padding: 80px 12%;
  }
  .main-header-nav-bar-form input {
    left: -100px;
  }
  .main-screenshots-realization {
    min-height: 539px;
  }
  .main-screenshots-realization-img {
    width: 513px;
    height: 321px;
  }
}
@media screen and (max-width: 1000px) {
  .main-header,
  .main-aside,
  .main-projects,
  .main-screenshots-menu,
  .main-devices,
  .main-posts,
  .main-partners,
  .main-screenshots-realization,
  .main-statistics,
  .footer-block1,
  .footer-copyright {
    padding: 50px 8%;
    flex-wrap: wrap;
  }
  .main-header-nav-bar-form input {
    left: -150px;
    top: 80px;
  }
  .main-partners-img {
    width: 150px;
  }
  .main-screenshots-realization {
    display: none;
  }
  .main-projects-txt {
    padding: 0 10%;
  }
  .main-projects-bar {
    flex-flow: row wrap;
  }
  .main-projects-bar-btn {
    margin-bottom: 20px;
  }
  .main-aside-title {
    margin: 0;
  }
  .main-statistics-figure-number {
    font-size: 36px;
  }
  .main-posts {
    justify-content: center;
  }
  .main-aside-title {
    margin-bottom: 20px;
  }
  .main-statistics-figure {
    margin-bottom: 20px;
  }
  .main-devices {
    min-height: 695px;
    background-size: 35%;
    justify-content: flex-start;
  }
  .main-devices-descrition {
    width: 100%;
    float: none;
  }
  .main-devices-descrition-title {
    font-size: 34px;
    text-align: center;
  }
  .main-devices-descrition-txt {
    font-size: 16px;
    line-height: 28px;
  }
  .main-devices-descrition-list {
    padding-left: 50%;
  }
  .main-posts-txt {
    padding: 5%;
  }
  .main-posts-article {
    margin-bottom: 20px;
  }
  .footer-copyright {
    flex-flow: column wrap;
  }
  .footer-copyright-right,
  .footer-copyright-left {
    width: inherit;
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .main-presentation,
  .main-statistics,
  .main-screenshots-realization,
  .main-aside,
  .footer-block1 {
    display: none;
  }
  .main-header,
  .main-screenshots-menu,
  .main-aside,
  .main-projects,
  .main-devices,
  .main-posts,
  .main-partners,
  .footer-copyright {
    padding: 30px 2%;
  }
  .main-header {
    min-height: 450px;
  }
  .main-header-nav {
    justify-content: center;
  }
  .main-header-nav-logo {
    justify-content: flex-start;
  }
  .main-header-nav-logo-svg {
    width: 50px;
    height: 53px;
    margin-right: 10px;
  }
  .main-header-nav-logo-txt {
    font-size: 28px;
  }
  .main-header-nav-bar-menu {
    flex-flow: column;
    padding-top: 5px;
  }
  .main-header-nav-bar-form input {
    left: -60px;
    top: 40px;
  }
  .main-header-nav-bar-form input:focus {
    width: 100px;
  }
  .main-header-portfolio-icon1 {
    width: 32px;
    height: 32px;
  }
  .main-header-portfolio-icon2 {
    width: 32px;
    height: 32px;
  }
  .main-header-portfolio-text {
    width: 320px;
  }
  .main-header-portfolio-text-subtitle {
    font-size: 20px;
    width: 260px;
  }
  .main-header-portfolio-text-title {
    font-size: 28px;
    width: 320px;
  }
  .main-header-portfolio-text-txt {
    font-size: 12px;
    margin: 0 0 25px 0;
  }
  .main-header-portfolio-text-btn {
    width: 100px;
    min-height: 35px;
    font-size: 12px;
    padding: 10px;
  }
  .main-header-pagination-circle {
    height: 8px;
    width: 8px;
  }
  .main-projects-txt {
    padding: 0;
  }
  .main-projects-cards {
    justify-content: center;
  }
  .main-posts-txt {
    padding: 0;
  }
  .main-screenshots-menu-figure {
    width: 46%;
  }
  .main-screenshots-menu-figure-subtitle {
    font-size: 18px;
  }
  .main-screenshots-menu-figure-block1-txt,
  .main-screenshots-menu-figure-block1-txt1 {
    font-size: 11px;
  }
  .main-projects-title {
    font-size: 24px;
  }
  .main-projects-txt {
    font-size: 14px;
  }
  .main-projects-btn {
    width: 100px;
    min-height: 35px;
    font-size: 12px;
    padding: 10px;
  }
  .main-devices {
    min-height: 550px;
    background-size: 40%;
    justify-content: flex-start;
  }
  .main-devices-descrition-title {
    font-size: 26px;
  }
  .main-devices-descrition-txt {
    font-size: 14px;
    line-height: 24px;
  }
  .main-devices-descrition-list-item {
    font-size: 12px;
    line-height: 18px;
  }
  .main-devices-descrition-list-item:before {
    width: 18px;
    height: 18px;
    left: -40px;
  }
  .main-posts-title {
    font-size: 24px;
  }
  .main-posts-txt {
    font-size: 14px;
  }
  .main-posts-article-title {
    font-size: 16px;
  }
  .main-posts-article-txt,
  .main-posts-article-link {
    font-size: 12px;
  }
  .main-partners-img:first-child,
  .main-partners-img:nth-child(3) {
    margin-right: 50px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .main-header-portfolio,
  .main-header-pagination {
    display: none;
  }
  .main-header {
    min-height: 100px;
    padding: 30px 30px;
  }
  .main-header-nav {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-header-nav-bar {
    padding-left: 0;
  }
  .main-header-nav-bar-lable {
    display: flex;
  }
  .main-header-nav-bar-menu {
    visibility: hidden;
    height: 0;
    flex-direction: column;
    margin: 0 auto;
    left: -50px;
  }
  .main-header-nav-bar-menu-item {
    width: 150px;
    border: 1px solid #fff;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  .main-header-nav-bar-bag,
  .main-header-nav-bar-magnifier {
    display: none;
  }
  .main-screenshots-menu {
    padding: 50px 0 0 0;
  }
  .main-screenshots-menu-figure {
    width: 50%;
    min-height: 160px;
  }
  .main-screenshots-menu-figure-block1 {
    margin-bottom: 0;
  }
  .main-screenshots-menu-figure-subtitle {
    font-size: 16px;
  }
  .main-screenshots-menu-figure-block1-txt,
  .main-screenshots-menu-figure-block1-txt1 {
    font-size: 10px;
  }
  .main-screenshots-menu-figure-icon1 {
    width: 41px;
    height: 41px;
  }
  .main-screenshots-menu-figure-icon2 {
    width: 37px;
    height: 34px;
  }
  .main-screenshots-menu-figure-icon3 {
    width: 37px;
    height: 37px;
  }
  .main-screenshots-menu-figure-icon4 {
    width: 44px;
    height: 30px;
  }
  .main-screenshots-menu-figureafter {
    width: 50px;
    height: 2px;
  }
  .main-projects {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .main-projects-title {
    font-size: 20px;
  }
  .main-projects-txt {
    font-size: 12px;
  }
  .main-projects-bar {
    margin-bottom: 0;
  }
  .main-projects-bar-btn {
    font-size: 11px;
    height: 25px;
    padding: 5px 15px 5px 15px;
  }
  .main-projects-bar-btn:nth-child(1) {
    margin-left: 50px;
  }
  .main-projects-bar-btn:nth-child(3) {
    margin-right: 50px;
  }
  .main-projects-cards-link:nth-child(4),
  .main-projects-cards-link:nth-child(5),
  .main-projects-cards-link:nth-child(6) {
    display: none;
  }
  .main-projects-cards-link {
    width: 300px;
    margin-bottom: -20px;
  }
  .main-projects-cards-link-img {
    height: 60%;
  }
  .main-projects-cards-link-comment {
    height: 70px;
    padding: 10px 15px;
  }
  .main-projects-cards-link-iconing:nth-of-type(1) {
    top: 88px;
    left: 110px;
  }
  .main-projects-cards-link-iconing:nth-of-type(2) {
    top: 88px;
    left: 170px;
  }
  .main-projects-cards-link-comment:before {
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    top: -20px;
    left: 15px;
  }
  .main-projects-cards-link-comment-title {
    font-size: 16px;
  }
  .main-projects-cards-link-comment-txt {
    font-size: 12px;
  }
  .main-devices {
    min-height: 450px;
    background-size: 35%;
    justify-content: flex-start;
  }
  .main-devices-descrition {
    width: 100%;
    float: none;
  }
  .main-devices-descrition-title {
    font-size: 20px;
    text-align: center;
  }
  .main-devices-descrition-txt {
    font-size: 12px;
    line-height: 20px;
  }
  .main-devices-descrition-list {
    padding-left: 230px;
  }
  .main-devices-descrition-list-item {
    font-size: 10px;
    line-height: 14px;
  }
  .main-devices-descrition-list-item:before {
    width: 16px;
    height: 16px;
    left: -30px;
  }
  .main-posts {
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .main-posts-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .main-posts-txt {
    font-size: 12px;
    line-height: 20px;
  }
  .main-posts-article-title {
    font-size: 16px;
  }
  .main-posts-article {
    width: 300px;
    height: 320px;
    margin-bottom: 20px;
  }
  .main-posts-article-img {
    width: 300px;
    height: 178px;
  }
  .main-posts-article-title {
    padding: 15px 15px 10px 15px;
  }
  .main-posts-article-txt,
  .main-posts-article-link {
    font-size: 12px;
    line-height: 20px;
  }
  .main-posts-article-link {
    padding-top: 10px;
  }
  .main-posts-article-link:after {
    top: 16px;
    left: 103px;
  }
}
